---
import { TinaMarkdown } from 'tinacms/dist/rich-text';
import { client } from '../../tina/__generated__/client';
import Layout from '../layouts/Layout.astro';

const posts = await client.queries.post({ relativePath: 'hello-world.md' });
console.log(posts.data.post.title);
---

<Layout>
  <main>
    <h1>{posts.data.post.title}</h1>
    <TinaMarkdown content={posts.data.post.body} />
  </main>
</Layout>
